<%= form_for @room do |f| %>

  <ul>
    <% @room.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

  <%= f.label :home_type %>
  <%= f.text_field :home_type %>

  <%= f.label :room_type %>
  <%= f.text_field :room_type %>

  <%= f.label :accommodate %>
  <%= f.number_field :accommodate %>

  <%= f.label :bedroom_count %>
  <%= f.number_field :bedroom_count %>

  <%= f.label :bathroom_count %>
  <%= f.number_field :bathroom_count %>

  <%= f.label :listing_name %>
  <%= f.text_field :listing_name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.submit (@room.new_record? ? "Create" : "Update") %>
<% end %>
<!--
class Room < ApplicationRecord
  belongs_to :user

  validates :home_type, :room_type, :accommodate, :bedroom_count, :bathroom_count, :address,
    presence: true
  validates :listing_name, presence: true, length: {maximum: 50}
  validates :description, presence: true, length: {maximum: 500}

end -->
